apiVersion: v1
clusters:
- cluster:
    certificate-authority-data:XXX
    server: https://ip:port
  name: default
contexts:
- context:
    cluster: default
    user: default
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: default
  user:
    client-certificate-data:XXX
    client-key-data: XXX